#
# custom - gitignore
#

.DS_Store
Thumbs.db

build/
dist/

# excel
~$*.xlsx

data/raw/
output/
!data/.gitkeep
!output/.gitkeep

*.html
*.pdf
*.docx
*.png
*.svg
*.jpeg

.vscode/
.idea/

.env
.env.local
.env.*.local

*.pyc
*.ipynb
_site/
_book/
*.aux

#
# java - github - gitignore
#

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Eclipse
.project
.classpath
.settings/
bin/
target/

# Gradle
.gradle/
build/

#
# R - github - gitignore
#

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

/.quarto/

#
# github - desktop
# This diff contains a change in line endings from 'LF' to 'CRLF'.
#
/professor
/_professor
/bin/
